/*
Fonts: Montserrat, Cinzel
Color: EDC60F yellow
       000000 black
       575756 grey
       9D9D9C light-grey
       FDFDFA white

///////////// Content ///////////// */

.imgRadius {
  border-radius: 10px;
}

.Section {
  padding: 20pt 50pt 20pt 50pt;
  display: flex;
  align-items: center;
  gap: 5%; /*no conocia a gap pero es muy util*/
}

.Section-60 {
  width: 60%;
  text-align: center;
}

.Section-35 {
  width: 35%;
  height: auto;
}

.gameStoryText {
  padding: 50pt;
  text-align: center;
}

/* MAP SECTION */

.splitImages {
  padding: 20pt 50pt 20pt 50pt;
  display: flex;
  align-items: center;
}

.imageSection {
  width: 50%;
  height: 300px;
  position: relative;
}

.BlackkWhiteFilter {
  /*blnco y negro*/
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.imageSection a:hover {
  filter: none;
}

.textOverImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ///////////// Footer ///////////// */
