form {
    border: 3px solid #FFCB9A;
    background-color: #0A4D4F;
    width: 70%;
    margin: 0 auto; 
    border-radius: 30px;
}

label {
  font-family: "Orbitron", sans-serif;
  line-height: 40px;
  color: #D1E8E2;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
}

input[type=email], input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border-radius: 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
}

img.avatar {
  width: 30%;
  height: 30% ;
}

.container {
  padding: 10%;
  width: 70%;
}

p{
  color: #D1E8E2;
}