body{
  background-color: #2C3531;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #D1E8E2;
  height: 90px;
  width: 100%;
}

.logo-box {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  margin-left: 10%;
}

.link{
  font-family: "Orbitron", sans-serif;
  margin-left: 50px;
  line-height: 50px;
  color: #D1E8E2;
  font-size: 30px;
  font-weight: 100;
  text-decoration: none;
}

.acc-button {
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0px;
  margin-right: 10%;
}

.acc-button img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0px;
}

.addrtnbtnttl{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 10%;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.txt {
  display: flex;
  color: #D1E8E2;
  font-family: "Orbitron", sans-serif;
  font-size: xx-large;
  flex: 1;
}

#myBtn {
  display: flex;
  font-family: "Orbitron", sans-serif;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #FFCB9A;
  color: #111111; /* Correzione: aggiunta del colore del testo */
  font-size: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.spr-line {
  background-color: #FFCB9A;
  display: inline-block;
  border-radius: 25px;
  margin-left: 8%;
  height: 5px;
  width: 84%;
  margin-top: 20px;
}

/* The Modal (background) */
.addpopup {
  font-family: "Orbitron", sans-serif;
  color: #D1E8E2;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#addbtn-content {
  width: 40%;
  height: 40%;
  padding: 40px;
  background: #0A4D4F;
  margin: 12% 28%;
  border-radius: 25px;
}

h1{
  color: #FFCB9A;
  text-align: center;
  margin-top: 0%;
  font-size: x-large;
}

.strthr {
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 50px 30px;
}

#hrslct {
  font-family: "Orbitron", sans-serif;
  display: flex;
  background-color: #2C3531;
  border: none;
  color: #D1E8E2;
  border-radius: 25px;
  padding: 5px;
  height: 20px;
  cursor: pointer;
}

.dayslct{
  display: flex;
  height: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 50px 30px;
}

#daylst{
  font-family: "Orbitron", sans-serif;
  background-color: #2C3531;
  border: none;
  color: #D1E8E2;
  border-radius: 25px;
  height: 20px;
  text-align: center;
}

.description {
  display: block;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 50px 30px;
}

#dscr-act{
  font-family: "Orbitron", sans-serif;
  font-size: medium;
  background-color: #2C3531;
  border:0cap;
  border-radius: 25px;
  height: 60px;
  width: 98.5%;
  margin-bottom: 50px;
  color: #D1E8E2;
  padding-left: 10px;
  overflow: scroll;
}

#AddBlock{
  font-family: "Orbitron", sans-serif;
  display: flex;
  width: 30%;
  height: 10%;
  justify-content: center;
  background-color: #FFCB9A;
  box-shadow: 0px 4px #9C7A5C;
  border: none;
  color: black;
  border-radius: 25px;
  padding: 12px 20px;
  cursor: pointer;
  margin-left: 35%;
  margin-top: 70px;
}

#AddBlock:active {
  margin-top: 74px;
  box-shadow: none;
}

.elm-rut{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 700px;
  gap: 2%;
  margin: 60px 10%;
}

img{
  display: flex;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.rut-div{
  display: flex;
  background-color: #0A4D4F;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  overflow-y: scroll;
}

.rut-div::-webkit-scrollbar{
  width: 15px;
}

.rut-div::-webkit-scrollbar-track{
  background-color: #052b2c;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.rut-div::-webkit-scrollbar-thumb{
  background-color: #0b3e40;
  border-radius: 25px;
}