@font-face {
  font-family: "Cinzel";
  src: url("../fonts/Cinzel/Cinzel-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fdfdfa;
}

h1 {
  font-family: Cinzel, serif;
  color: #edc60f;
}

/* p {
  font-family: Montserrat, serif;
  color: #ffffff;
}*/

hr {
  border: 1px solid #edc60f;
  width: 90%;
}

a {
  text-decoration: none;
  color: #fdfdfa;
}

img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.footer {
  background-color: black;
  align-items: center;
}

.companies {
  display: flex;
  align-items: center;
}

.companiesImg {
  max-height: 50px;
}
