/*
Fonts: Montserrat, Cinzel
Color: EDC60F yellow
       000000 black
       575756 grey
       9D9D9C light-grey
       FDFDFA white

///////////// Content ///////////// */

.imgRadius {
  border-radius: 10px;
}

.Section {
  padding: 20pt 5% 20pt 5%;
  display: flex;
  align-items: center;
  gap: 5%; /*no conocia a gap pero es muy util*/
}

.Section-60 {
  width: 60%;
}

.Section-35 {
  width: 35%;
  height: auto;
}

.gameStoryText {
  padding: 50pt;
}

/* MAP SECTION */

.textOverImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tablink-container {
  height: 30%;
  margin: 10pt 5% 10pt 5%;
}

.tablink {
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
}

.MetroButton {
  background-image: url("../img/MapaPolitica.png");
}

.OutsideButton {
  background-image: url("../img/OutsideMap.jpeg");
}

.tabcontent {
  display: block;
  margin: auto;
  color: white;
  display: none;
  width: 90%;
}

/*   MODAL   */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
