.CaraContainer {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

img {
  width: 200px;
  border: 1px solid white;
  height: auto;
  object-fit: cover;
}
