/*
Fonts: Montserrat, Cinzel
Color: EDC60F yellow
       000000 black
       575756 grey
       9D9D9C light-grey
       FDFDFA white

///////////// Content ///////////// */

.imgRadius {
  border-radius: 10px;
}

.Section {
  padding: 20pt 5% 20pt 5%;
  display: flex;
  align-items: center;
  gap: 5%; /*no conocia a gap pero es muy util*/
}

.Section-60 {
  width: 60%;
  align-self: self-start;
}

.Section-35 {
  width: 35%;
  height: auto;
}

.section-img {
  max-height: 500px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gameStoryText {
  padding: 50pt;
}

/* MAP SECTION */

.textOverImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tablink-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  margin: 10pt 5% 10pt 5%;
}

.tablink {
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50%;
  min-height: 300px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.tablink h1 {
  margin: 0;
  font-size: xx-large;
  font-weight: 900;
}

.MetroButton {
  height: 100%;
  background-image: url("../img/MapaPolitica.webp");
}

.OutsideButton {
  background-image: url("../img/OutsideMap.jpeg");
}

.tabcontent {
  display: block;
  margin: auto;
  color: white;
  display: none;
  width: 90%;
}

/*   MODAL   */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #000000;
  color: #fdfdfa;
  margin: auto;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}

.w3-container > hr {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .modal-content {
    width: 90%;
    max-width: 450px;
    padding: 18px;
  }
}

/* The Close Button */
.close {
  color: #fdfdfa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #edc60f;
  text-decoration: none;
  cursor: pointer;
}
